/* Universal style */
:root {
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
    --background-color: #E02C6D;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Shared styles */
.logo-text {
    font-size: 1.5rem;
}

.display-flex {
    display: flex;
}

.btn {
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 10px 24px;
    gap: 10px;
    cursor: pointer;
}

/* Nav related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 24px;
    /* prevent clipping on edges */
}

header img {
    width: 20px;
}

.list-items {
    list-style: none;
    gap: 34px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.list-item {
    text-decoration: none;
}

.list-link {
    text-decoration: none;
    color: rgb(92, 90, 90);
}

/* Hero section */
.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.hero-info {
    max-width: 582px;
}

.hero-title {
    font-size: 3.25rem;
    margin-bottom: 16px;
}

.hero-description {
    max-width: 500px;
}

.hero-button {
    border-radius: 40px;
}

.hero-img-div {
    max-width: 475px;
    margin-right: 132px;
    margin-top: 50px;
}

.banner-img {
    background-image: url(../images/Circle\ design.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


/* small screen device */
@media screen and (max-width:576px) {
    :root {
        font-size: 14px;
    }
    .navbar,
    .hero-section {
        flex-direction: column;
    }
    .hero-section {
        flex-direction: column-reverse;
    }
    .hero-title{
        font-size: 2.5rem;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .hero-title,
    .hero-description {
        text-align: center;
    }

    .hero-button {
        margin: 0 auto;
    }

    .hero-img-div {
        margin: 0 auto;
        margin-top: 30px;
    }
}